.intro-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(40, 40, 40);
}

.intro-box h2 {
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Exo 2', sans-serif;
    color: rgb(230, 230, 230);
    padding: 20px;
}

.intro-box p {
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Exo 2', sans-serif;
    color: rgb(200, 200, 200);
    padding-bottom: 20px;
}

.intro-box button {
    border: 1px solid rgb(194, 84, 25);
    background-color: rgb(194, 84, 25);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
    transition: 300ms;
}

.intro-box button:hover {
    background-color: rgb(255, 100, 50);
    border-color: rgb(255, 100, 50);
}

.game-coin {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.coinflip-game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; 
    width: 100%;
}

.gsp-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Video ile butonlar arasındaki boşluk */
    width: 100%;
}

.gsp-btn-row {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.gsp-root canvas {
    border: 1px solid rgb(194, 84, 25);
}